<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomProperties</key>
	<dict>
		<key>KERNEL_EXTENSION_HEADER_SEARCH_PATHS</key>
		<string>$(KERNEL_FRAMEWORK)/PrivateHeaders $(KERNEL_FRAMEWORK_HEADERS)</string>
	</dict>
	<key>DefaultProperties</key>
	<dict>
		<key>MACOSX_DEPLOYMENT_TARGET</key>
		<string>10.6</string>
	</dict>
	<key>DisplayName</key>
	<string>Mac OS X 10.6</string>
	<key>DocSetFeedName</key>
	<string>Apple Mac OS X</string>
	<key>DocSetFeedURL</key>
	<string>http://developer.apple.com/rss/adcdocsets.atom</string>
	<key>FamilyName</key>
	<string>Mac OS X</string>
	<key>MaximumDeploymentTarget</key>
	<string>10.6</string>
	<key>MinimumSupportedToolsVersion</key>
	<string>3.2</string>
	<key>Version</key>
	<string>10.6</string>
	<key>isBaseSDK</key>
	<string>YES</string>
</dict>
</plist>
